* {
    margin: 0;
    padding: 0;
}

:root {
    --backgroundColor: #f5ec98;
    --navBarColor: rgb(17, 18, 24);
    --textColor: white;
}

body {
    background-color: var(--backgroundColor);
}

.navBar {
    background-color: var(--navBarColor);
    color: var(--textColor);
    display: flex;
    height: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
}

nav ul li {
    list-style: none;
    padding: 25px;
    font-size: 24px;
    cursor: pointer;
}

nav ul {
    display: flex;
    padding: 0 850px;
}


.left h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding: 10px;
}

.left {
    display: inline-flex;
    align-items: left;
}

.right {
    display: inline-flex;
    /* margin-left: 900px; */
}